body, html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Voces', cursive;              
    font-size: 16px;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1, h2, h4 {
    margin: 0;
}

.wrapper {
    overflow: hidden;
    width: 100%;
    /* height: 100%; */
    background: url('https://www.wallpaperup.com/uploads/wallpapers/2014/01/15/228546/ffb042d6f0bb67fce4ba21fd517b83ea.jpg') no-repeat center center fixed;
    background-color: rgba(226, 216, 225, 0.2);
    background-blend-mode: color;
}

.wrapper:after {
    content: "";
    display: block;
    
}

.container {
    width: 60%;
    margin: 0 auto;
}

header {
    background-color: rgba(131, 142, 181);
}

.header__wrap {
    display: flex;
    flex-direction: row;

}

@media all and (max-width: 720px) {
    .header__wrap {flex-direction: column;}
    
}

.header__logo {
    display: flex;
    padding: 10px 0 10px 10px;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.logo__img {
    width: 50px;
    height: 50px;
}

.logo__right {
    width: 150px;
    margin-left: 15px;
    
}

.header__logo--text {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.header__nav {
    /* width: 70%;
    min-width: 500px; */
    flex: 3;
}

.nav__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

@media all and (max-width: 1040px) {
    .nav__menu {flex-direction: column;}
}

.nav__link {
    text-decoration: none;
    font-size: 17px;
    font-weight: lighter;
    color: black;
    text-transform: uppercase;
    padding: 7px;
}

.nav__link:hover {
    font-weight: bold;
}

.section-1 {
    background-color: rgba(51, 158, 181, 0.4);
    background-blend-mode: color;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section-1__title {
    height: 15%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 7px;
    margin: 5% 10% 5% 10%;
}

.section-1__title h1 {
    margin-bottom: 10px;
    background-color: rgba(226, 216, 225);
    font-size: 40px;
}

.section-1__title h1:last-child {
    font-size: 20px;
}

.section-1__img {
    margin: 1% 10%;
    text-align: center;
    
}

.section-1__img h1 {
    margin-bottom: 10px;
    /* background-color: rgba(226, 216, 225, 0.4); */
    font-size: 60px;
    border-radius: 50px;
}

.section-1__img img {
    width: 70%;
    min-width: 220px;
    height: 100%;
    
    border-radius: 50px;
    border: 5px solid rgba(226, 216, 225);
}

.section-1__text {
    padding: 7px;
    margin: 2% 10% 5% 10%;
    background-color: rgba(226, 216, 225, 1);
    border-radius: 20px;
}

.section-2 {
    background-color: rgba(226, 216, 225, 0.6);
    background-blend-mode: color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3%;
}

.section-2__title {
    height: 20%;
    min-height: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 7px;
    margin: 5% 0% 8% 40%;
    
}

.section-2__title h2 {
    background-color: rgba(51, 158, 181, 0.4);
    font-size: 35px;
}

.section-2___itemslist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 940px;
}

.section-2__item {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(51, 158, 181, 0.4);
    margin: 10px;
    border: 2px solid rgb(0, 0, 0, 0.2);
    border-radius: 50px;
    padding: 15px;
    
}


.section-2__icon {
    width: 100px;
    min-height: 100px;
    background-position: center center;
    background-size: cover; 

}

.icon-1 {
    background-image: url('img/icons/star-point.png');
}

.icon-2 {
    background-image: url('img/icons/dot-crossed.png');
}

.icon-3 {
    background-image: url('img/icons/grid-off.png');
}

.icon-4 {
    background-image: url('img/icons/target-with-circle.png');
}

.icon-5 {
    background-image: url('img/icons/tv-wireless-connection.png');
}

.icon-6 {
    background-image: url('img/icons/wireless-keyboard.png');
}

.section-2__text {
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    padding-top: 10px;
    align-self: auto;
    display: flex;
    height: 100%;
    align-items: center;
    border-radius: 5px;
}

.section-3 {
    background-color: rgba(51, 158, 181, 0.4);
    background-blend-mode: color;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section-3__title {
    height: 15%;
    min-height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 7px;
    margin: 5% 10% 5% 10%;
    
}

.section-3__title h1 {
    background-color: rgba(226, 216, 225);
    text-decoration: underline;
    margin: 2%;
}

.section-3__title h1:nth-child(2) {
    align-self: center;
}

.section-3__title h1:nth-child(3) {
    align-self: flex-end;
}



.section-3__video {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin: 5%;
    border-radius: 50px;
    border: 5px solid rgba(226, 216, 225);
}

#video {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.section-4 {
    background-color: rgba(51, 67, 181, 0.4);
    background-blend-mode: color;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.section-4__title {
    min-height: 100px;
    display: flex;
    justify-content: center;
    padding: 7px;
    margin: 9% 10% 0 10%;
    
    
}

.section-4__title h1 {
    font-size: 28px;
    background: rgba(226, 216, 225);
    height: fit-content;
}

.section-4__itemslist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-4__item {
    max-width: 220px;
    padding: 2%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(226, 216, 225);
    border-radius: 5px;
}

.section-4__item-name {
    padding: 5px 0 15px 0;
    flex: 1;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.section-4__item-feature {
    flex: 11;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.section-4__item-price {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: flex-end;
    padding: 20px 0;
    flex: 1;
    font-style: italic;
    font-size: 18px;

}
.section-4__item-order {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: flex-end;
    flex: 1;
    padding-top: 10px;
}

.section-4__btn, .form__btn {
    border-radius: 5px;
    width: 180px;
    height: 35px;
    font-size: 17px;
    font-weight: bold;
    background-color: rgba(226, 216, 225);
}

.section-5 {
    background-color: rgba(51, 158, 181, 0.4);
    background-blend-mode: color;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 40px;
}

.secttion-5__title {
    text-align: center;
    font-size: 18px;
    padding: 2% 0;
}

.section-5__formitems {
    
}

.form__row  {
    display: flex;
    justify-content: center;
}

.left__side {
    width: 50%;
    text-align: right;
    padding: 1%; 
}

.right__side {
    width: 50%;
    padding: 1%;
}

.form__text {
    width: 50%;
    max-width: 150px;
    border-radius: 5px;  
    background-color: rgba(226, 216, 225);  
}

.form__textarea {
    width: 80%;
    max-width: 300px;
    height: 150px;
    border-radius: 5px; 
    background-color: rgba(226, 216, 225);
}

.form__submit {
    text-align: center;

}

footer {
    
    width: 100%;
    background-color: rgba(131, 142, 181);
   
}

.footer__wrap {
    display: flex;
    align-items: center;
    padding: 2%;
}

.footer__text {
    font-size: 14px;
    font-weight: bold;
    max-width: 200px;
}

.footer__social {
    width: 100%;
}

.footer__social ul {
    width: 100%;
    display: flex; 
    justify-content: flex-end;   
}

.footer__social ul li {
    padding-left: 30px;
    
}
